  <div class="desktop_nav">
  <img *ngIf="!show" class="logo_mobile_nav" src="../assets/img_logocolor2.png" alt="visa">
  <nav>
    <ul>
      <a>
        <li mat-button (click)="selectSeleccionar()">Seleccionar</li>
      </a>
      <a>
        <li mat-button (click)="selectModificar()">Modificar</li>
      </a>
      <a>
        <li mat-button (click)="selectEliminar()">Eliminar</li>
      </a>
      <a>
        <li mat-button (click)="selectInsertar()">Insertar</li>
      </a>

    </ul>
  </nav>
</div>
