<div class="card col-10 col-sm-8 col-md-8 col-lg-7">
  <h5 class="card-header info-color white-text text-center py-4">
    <strong> Crear Reporte</strong>
  </h5>
  <div class="card-body px-lg-5 pt-0">
    <div class="form-row" cellspacing="0">
      <br />
      <div class="panel panel-warning col-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-3 col-sm-2 col-md-1 col-lg-1">
          <label>ID: <span>{{alumno.id}}</span></label>
        </div>
        <div class="col-4 col-sm-3 col-md-3 col-lg-3">
          <label>Nombre: <br/><span>{{alumno.nombre}}</span></label>
        </div>
        <div class="col-4 col-sm-3 col-md-3 col-lg-3">
          <label>Apellido Paterno: <span>{{alumno.apellidoPaterno}}</span></label>
        </div>
        <div class="col-4 col-sm-3 col-md-3 col-lg-3">
          <label >Apellido Materno: <span>{{alumno.apellidoMaterno}}</span></label>
        </div>


      </div>

      <!--<div class="col-3 col-sm-2 col-md-1 col-lg-1">
        <label class="badge">ID: <span>{{alumno.id}}</span></label>
      </div>
      <div class="col-4 col-sm-3 col-md-3 col-lg-3">
        <label class="badge">Nombre: <span>{{alumno.nombre}}</span></label>
      </div>
      <div class="col-4 col-sm-3 col-md-3 col-lg-3">
        <label class="badge">Apellido Paterno: <span>{{alumno.apellidoPaterno}}</span></label>
      </div>-->
     





      <button type="button" (click)="buscar()" class="btn btn-create btn-primary">Buscar</button>
    </div>
  </div>





</div>
