
.title{
  color:bisque;
  font-size: 60px;
  background:rgba(2, 4,4,0.7);
  border-top: 3px solid black;
  border-bottom: 3px solid  black;
  font-family: roboto;

}

.btn{
  right: 9px;
  top: 9px;
  height: 35px;
  background:rgba(0, 0, 0, .9);
  border: none;
  font-size: 16PX;
  color:bisque;
  letter-spacing: 1px;
  padding: 27px;
  padding-block-start: 6px;
  padding-block-end: 6px;
  text-align: center;
  border-bottom: 3px solid orange;
  cursor: pointer;
  border-radius: 9px;
  position: center;
  letter-spacing: 1px;
  transition:all .6s ease;
}

.btn2:hover{
  background:rgba(8, 8, 8, 0.10);
  border-bottom: 3px solid  rgb(0, 225, 255);
  transition:all .6s ease;
  font-size: 15px;
  color:white;

}

.input{
  padding: 7px 30px;
}
.contenedor{
  background: rgba(0, 0, 0, .9);
  border: none;
  cursor: pointer;
  margin: 5px;
  width: 100%;
  height: 55px;
  border-radius: 15px;
  border-bottom: 4px solid  orange;
  transition:all .6s ease;
  font-size: 13px;
  font-family: bold;
  color:white;
  outline: none;

}
.contenedor-form1{
  background: rgb(0, 0, 0,.8);
  color: #fff;
  border-radius:70px;
  /*padding: 20px;*/
  width: 80%;
  border-top: 5px;
  float: none;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 546px;
  height: 310px;
}

.Contraseña{
  color:white ;
  font-size: 14px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-top:2px solid  rgb(238, 122, 13) ;
  border-bottom: 2px solid  rgb(238, 122, 13);
  position:relative;
  top: 7px;
  right: 7p;
  height: 30px;
  line-height: 25px;
  transition:all .6s ease;
}
.contra:hover{
  background:rgba(8, 8, 8, 0.10);
  border-top: 3px solid  rgb(138, 12, 12);
  border-bottom: 3px solid  rgb(138, 12, 12);
  transition:all .6s ease;
}

.iniciarsesion{
  color:whitesmoke;
  font-size: 35px;
  font-family:roboto;
}


