<!--The content below is only a placeholder and can be replaced.-->

<br/>
<div class="text-center ">
  <img class="img-fluid max-width: 100%" img width="200" src="../../../dist/assets/logoSecu.png" />
</div>

<div class="contenedor-form1 col-10 col-sm-8 col-md-10 col-lg-10  " style="text-align:center">
  <form>
    <!-- <div class="toggle">
      <span>crear cuenta</span>
    </div> -->
    <label for="iniciar sesion" class="iniciarsesion">Iniciar sesión</label>
    <div class="input">
      <input type="text" placeholder=" 🔐 Usuario" class="contenedor btn2 " required [(ngModel)]="user" name="name">
      <input type="password" placeholder=" 🔐 Contraseña" class="contenedor btn2" required [(ngModel)]="contra" name="contra">
    </div>
    <div class="input">
      <button class="btn btn2" (click)="validation()">Ingresar</button>
    </div>
    <div class="reset-password">
      <a href="#" class="Contraseña contra">Olvide mi Contraseña</a>
    </div>
  </form>
</div>


