<div class="card col-10 col-sm-8 col-md-8 col-lg-7">


  <h5 class="card-header info-color white-text text-center py-4">
    <strong> Buscar alumno</strong>
  </h5>
  <div class="card-body px-lg-5 pt-0">
    <div class="form-row" cellspacing="0">

      <div class="col-12 col-sm-12 col-md-6 col-lg-2">
        <mat-form-field class="example-full-width">
          <input [(ngModel)]="alumno.id" name="id" matInput placeholder="ID">
        </mat-form-field>
      </div>

      <div class="col-12 col-sm-12 col-md-6 col-lg-4">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Apellido Paterno">
        </mat-form-field>
      </div>

      <div class="col-6 col-sm-6 col-md-3 col-lg-3">
        <mat-form-field>
          <mat-select placeholder="Grado">
            <mat-option value="option">1</mat-option>
            <mat-option value="option">2</mat-option>
            <mat-option value="option">3</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3">
        <mat-form-field>
          <mat-select placeholder="Grupo">
            <mat-option value="option">A</mat-option>
            <mat-option value="option">B</mat-option>
            <mat-option value="option">C</mat-option>
            <mat-option value="option">D</mat-option>
            <mat-option value="option">E</mat-option>
            <mat-option value="option">F</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-6 col-sm-6 col-md-3 col-lg-3">
        <mat-form-field>
          <mat-select placeholder="Taller">
            <mat-option value="option">Computación</mat-option>
            <mat-option value="option">Electricidad</mat-option>
            <mat-option value="option">Industria del vestir</mat-option>
            <mat-option value="option">Contabilidad</mat-option>
            <mat-option value="option">Carpintería</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3">
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Fecha de ingreso">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-6 col-sm-6 col-md-3 col-lg-3">
        <mat-form-field>
          <mat-select placeholder="Mano">
            <mat-option value="option">Diestro</mat-option>
            <mat-option value="option">Zurdo</mat-option>
            <mat-option value="option">Ambidiestro</mat-option>
          </mat-select>
        </mat-form-field>
      </div>



      <button type="button" (click)="getAllStudents()" class="btn btn-create btn-primary">Todos</button>
      <button type="button" (click)="buscar()" class="btn btn-create btn-primary">Buscar</button>




    </div>
  </div>
</div>

<div *ngIf="isValidSearchId" class="card col-10 col-sm-8 col-md-8 col-lg-7">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellidos</th>
      <th scope="col">Grado</th>
      <th scope="col">Grupo</th>
      <th scope="col">Status</th>
      <th scope="col">Taller</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody >
    <tr>
      <th scope="row">{{alumno.id}}</th>
      <td>{{alumno.nombre}}</td>
      <td>{{alumno.apellidoPaterno}} {{alumno.apellidoMaterno}}</td>
      <td>{{alumno.grado}}</td>
      <td>{{alumno.grupo}}</td>
      <td>{{alumno.status}}</td>
      <td>{{alumno.taller}}</td>
      <td>
        <button class="btnCrear btn-create btn-primary"  mat-button [matMenuTriggerFor]="reportes2"><img src="../../assets/outline_add_circle_outline_white_18dp - copia.png" /></button>
        <mat-menu #reportes2="matMenu">
          <button mat-menu-item (click)="getAllReports()">Reportes</button>
          <button mat-menu-item  (click)="insertarReporte()">Insertar</button>
          <button mat-menu-item (click)="selectSeleccionarReporte()">Buscar</button>
          <button mat-menu-item (click)="selectModificarReporte()">Modificar</button>
        </mat-menu>
      </td>
       
    </tr>
    </tbody>

  </table>
</div>

<div *ngIf="isValidSearchFilters" class="card col-10 col-sm-8 col-md-8 col-lg-7">
  test
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th  scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Grado</th>
        <th scope="col">Grupo</th>
        <th scope="col">Status</th>
        <th scope="col">Taller</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let alumno of listAlumno">
        <th scope="row">{{alumno.idAlumno}}</th>
        <td>{{alumno.nombre}}</td>
        <td>{{alumno.apellidoPaterno}} {{alumno.apellidoMaterno}}</td>
        <td>{{alumno.grado}}</td>
        <td>{{alumno.grupo}}</td>
        <td>{{alumno.status}}</td>
        <td>{{alumno.taller}}</td>
        <td>
          <button class="btnCrear btn-create btn-primary" mat-button [matMenuTriggerFor]="reportes2"><img src="../../assets/outline_add_circle_outline_white_18dp - copia.png" /></button>
          <mat-menu #reportes2="matMenu">
            <button mat-menu-item (click)="InsertarNewReport(alumno)">Insertar Reporte</button>
            <button mat-menu-item (click)="historialReportes(alumno)" name="alumno.id">Historial</button>
            <button mat-menu-item (click)="selectModificarReporte(alumno.id)">Modificar</button>
            <button mat-menu-item (click)="selectEliminarAlumno(alumno.id)">Eliminar</button>
          </mat-menu>
        </td>
      </tr>
    </tbody>
  
  </table>
</div>






<!--<div class="mat-elevation-z8">
  <table mat-table>
    <tr *ngFor="let element of listAlumno">
     
      <ng-container matColumnDef="ids">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell> {{element.id}} </td>
      </ng-container>

     
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> nombre </th>
        <td mat-cell> {{element.nombre}} </td>
      </ng-container>

     
      <ng-container matColumnDef="apellidos">
        <th mat-header-cell *matHeaderCellDef> apellidos </th>
        <td mat-cell > {{element.apellidoPaterno}} {{element.apellidoMaterno}} </td>
      </ng-container>

    
      <ng-container matColumnDef="grado">
        <th mat-header-cell *matHeaderCellDef> grado </th>
        <td mat-cell > {{element.grado}} </td>
      </ng-container>

      <ng-container matColumnDef="grupo">
        <th mat-header-cell *matHeaderCellDef> grupo </th>
        <td mat-cell> {{element.grupo}} </td>
      </ng-container>
    </tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>-->
